<!doctype html>
<html class='dark'>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css'>
        <link rel='stylesheet' type='text/css' href='./style.css'>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
        <script src='/static/js/layout.js'></script>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header id='nav'>
            <div class='content'>
                <ul>
                    <li><a href='/' tooltips='Go back to the homepage'>home</a></li>
                    <li><a href='/search.html' tooltips='Search this site'>search</a></li>
                    <li><a href='/about.html' tooltips='About this site'>about</a></li>
                </ul>
            </div>
        </header>
        <div id='container'>
        {% block content %}
            <p>something default</p>
        {% endblock content %}
        </div>
        <footer>
            <script type='text/javascript'>

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-10313309-4']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
            {% block footer %}
            {% endblock footer %}
         </footer>
    </body>
</html>
