{% extends 'base.html' %}
{% from 'macros.html' import date %}

{% block content %}
    <article>
        <ol class='index'>
            {% for page in pages | sort(attribute='mtime', reverse=True) %}
            <li>
                <h1><a href='{{ url_for('page', path=page.path) }}'>{{ page.title }}</a></h1>
                <p><small><span title='post date'>{{ date(page.ctime) }}<span> & <span title='last change date'>{{ date(page.mtime) }}</span></small></p>
            </li>
            {% else %}
            <li>No stuff.</li>
            {% endfor %}
        </ol>
    </article>
{% endblock content %}
