{% extends 'base.html' %}
{% from 'macros.html' import post_date %}

{% block content %}
    <article>
        <header>
        <h1>{{ title }}</h1>
        </header>
        <ol class='toc'>
            {% for page in pages | sort(attribute='date', reverse=True) %}
            <li>
                <h1><a href='{{ url_for('page', path=page.path) }}'>{{ page.title }}</a></h1>
                <p>{{ post_date(page) }}</p>
            </li>
            {% else %}
            <li>No stuff.</li>
            {% endfor %}
        </ol>
    </article>
{% endblock content %}
