{% extends 'base.html' %}
{% from 'macros.html' import post_date, changelog_header %}

{% block title %}{{ page.title }}{% endblock title %}

{% block head %}
    <script type='text/x-mathjax-config'>
        MathJax.Hub.Config({
            'tex2jax': { inlineMath: [['$', '$'], ['\\(', '\\)']] },
            TeX: { equationNumbers: { autoNumber: 'AMS' } },
            MMLorHTML: { prefer: { Firefox: 'HTML' } }
        });
    </script>
    <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>
{% endblock head %}

{% block content %}
    <article class='post'>
        {% if not html %}
            <header>
                <h1>{{ page.title }}</h1>
                <h2>{{ post_date(page) }}</h2>
            </header>
            <section class='toc numbered'>
            </section>
            <section class='changelog'>
                {{ changelog_header(page.meta.get("lang", "zh")) }}
                <table>
                    {% for d in hist %}
                        <tr>
                            <td class='time'><time datetime="{{ d.time }}"><accent>{{ d.time.strftime('%Y-%m-%d %H:%M') }}</accent></time></td>
                            <td>{{ d.message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
            <section class="content numbered">
                {{ page.html|safe }}
            </section>
        {% else %}
            {{ html|safe }}
        {% endif %}
    </article>
{% endblock content %}
