a {
    text-decoration: none;
}

@import "color";
@import "header";
@import "link";
@import "nav";
@import "toc";
@import "width";

body {
    @include width();
    font-size: 100%;
    font-family: georgia,times,serif;
    margin: 2em auto;
    padding: 0;
}

img.border {
    -webkit-box-shadow: 0px 0px 4px 0px #000;
    -moz-box-shadow: 0px 0px 4px 0px #000;
    box-shadow: 0px 0px 4px 0px #000;
}

#container {
    padding: 0;
    & > article > *:first-child {
        margin-top: (42 + 30)px;
    }
}

::selection {
    background: $cyan;
    color: white;
}

header > h2 > .post-date {
    line-height: 2rem;
    &::before {
        content: "\2014\ ";
    }
    &::after {
        content: " \2014";
    }
}
