a {
    text-decoration: none;
}

@import "color";
@import "header";
@import "link";
@import "nav";
@import "toc";
@import "width";

html {
}

body {
    @include width();
    font-size: 100%;
    font-family: georgia,times,serif;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#body {
    position: absolute;
    top: 42px;
}

#container {
    & > article > *:first-child {
        margin-top: 42px;
    }
}

::selection {
    background: $cyan;
    color: white;
}

header > h2 > .post-date {
    line-height: 2rem;
    &::before {
        content: "\2014\ ";
    }
    &::after {
        content: " \2014";
    }
}
