@mixin search() {
    #query {
        width: 100%;
        border: none;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        padding: 3px;
        color: black;
        display: block;
    }
}
