@import "color";
@import "post";
@import "code";
@import "nav";
@import "search";
@import "index";
@import "numbered";

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
    background-color: $rebase03;
    color: $rebase0;
    * {
        color: inherit;
    }
    h1,h2,h3,h4,h5,h6 {
        color: $rebase1;
        border-color: $rebase0;
    }
    a {
        &, &:visited {
            color: $rebase1;
            border-color: $rebase1;
        }
        &:hover {
            color: $rebase2;
            border-color: $rebase2;
        }
    }
    kbd {
        border-color: $rebase0;
        background-color: $rebase02;
    }
    @include inline_code($rebase01, $rebase02);
    @include search();
    @include nav($base2, $rebase03);
}

@mixin accentize($accent, $base03, $base0, $base1, $base2) {
    accent {
        color: $accent;
    }
    a {
        border-color: $accent;
    }
    code.url {
        color: $accent;
    }
    h1,h2,h3,h4,h5,h6 {
        color: $accent;
        a, a:visited {
            color: $accent;
        };
    }
    @include post($accent, $base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

.light {
    @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
}

.dark {
    @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
    @include accentize($yellow, $base03, $base0, $base1, $base2);
}
